{{define "/chat/foot.shtml"}}
<script>

    function upload(dom) {
        uploadfile("attach/upload", dom, function (res) {
            if (res.Code == 0) {
                app.sendpicmsg(res.Data)
            }
        })
    }
    //上传图片 创建群
    function uploadthis(dom) {
        uploadfile("attach/upload", dom, function (res) {
            if (res.Code == 0) {
                app.com.icon = res.Data;
                console.log(res.Data);
            }
        })
    }
    //维护用户头像
    function uploadUserInfo(dom) {
        uploadfile("attach/upload", dom, function (res) {
            if (res.Code == 0) {
                app.info.icon = res.Data;
                console.log(res.Data);
            }
        })
    }



    function userId() {
        return parseInt(util.parseQuery("userId"))
    }
    var app = new Vue(
        {
            el: "#pageapp",
            data: {
                usermap: {},
                friends: [],
                communitys: [],
                profile: {
                    avatar: "",
                    nickname: "",
                    memo: "",
                },
                webSocket: {},
                win: "main",
                com: {
                    "ownerId": "",
                    "icon": "",
                    "cate": "",
                    "name": "",
                    "memo": "",
                },
                //用户信息
                info: {
                    "id": "",
                    "icon": "",
                    "name": "",
                },
                isDisable: true,
                isLoadMore: false,
                start: 0,
                end: 9,
                txtmsg: "",
                panelstat: "kbord",
                txtstat: "kbord",
                title: "",
                otherAvatar: '',
                doutu: {
                    config: {
                        "baseurl": "asset/plugins/doutu",
                        "pkgids": ["mkgif", "emoj"]
                    },
                    packages: [],
                    choosed: { "pkgid": "emoj", "assets": [], "size": "small" }
                },
                msglist: [],
                isReadRedisMsg: [],  //是否已读取某个用户的缓存消息
                msgcontext: {
                    TargetId: -1,
                    Type: -1,
                    CreateTime: new Date().getTime(),
                    UserId: userId()  // 修正为大写U，与后端Message结构一致
                },
                plugins: [
                    {
                        icon: "icon-tupian",
                        name: "照片",
                        id: "upload",
                        slot: "<input accept=\"image/gif,image/jpeg,,image/png\" type=\"file\" onchange=\"upload(this)\" class='upload' />"
                    },

                    {
                        icon: "icon-paizhao",
                        name: "拍照",
                        id: "camera",
                        slot: "<input accept=\"image/*\" capture=\"camera\" type=\"file\" onchange=\"upload(this)\" class='upload' />"
                    },
                    {
                        icon: "icon-yuyin",
                        name: "语音",
                        id: "audiocall"
                    },
                    {
                        icon: "icon-shipin",
                        name: "视频",
                        id: "videocall"
                    },
                    {
                        icon: "icon-hongbao",
                        name: "红包",
                        id: "redpackage"
                    },
                    {
                        icon: "icon-zhuanzhang",
                        name: "转账",
                        id: "exchange"
                    },
                    {
                        icon: "icon-daohangdizhi",
                        name: "地址",
                        id: "address"
                    },
                    {
                        icon: "icon-zhanghu",
                        name: "名片",
                        id: "person"
                    }

                ],
                timer: 0,
                recorder: {},
                allChunks: [],
                iscomplete: false,
                duration: 0,
                showprocess: false,
                // AI聊天相关数据
                aiMessages: [],
                aiInputText: '',
                aiThinking: false,
                quickQuestions: [
                    "你好，我想了解一下聊天室的功能",
                    "如何创建群聊？",
                    "怎样添加好友？",
                    "有什么有趣的功能推荐吗？",
                    "系统支持哪些消息类型？"
                ],

            },
            created: function () {
                this.loadfriends();
                this.loadcommunitys();
                this.loaddoutures();
                setInterval(this.heartbeat, 10 * 1000);
                var user = userInfo()
                //初始化websocket
                this.initwebsocket()
                this.initUser();

            },
            mounted: function () {
                // 初始化全局滚动
                this.initGlobalScrolling();
                // 初始化键盘事件
                this.initKeyboardEvents();
            },
            methods: {
                initUser() {
                    let userInfo = JSON.parse(sessionStorage.getItem('userinfo') || '{}');
                    this.info.icon = userInfo.Avatar;
                    this.info.name = userInfo.Name;
                    this.info.id = userInfo.ID;
                    this.profile.avatar = userInfo.Avatar;
                    this.profile.nickname = userInfo.Name;
                },
                playaudio: function (url) {
                    document.getElementById('audio4play').src = url;
                    document.getElementById('audio4play').play();
                },
                startrecorder: function () {
                    let audioTarget = document.getElementById('audio');
                    var types = ["video/webm",
                        "audio/webm",
                        "video/webm\;codecs=vp8",
                        "video/webm\;codecs=daala",
                        "video/webm\;codecs=h264",
                        "audio/webm\;codecs=opus",
                        "video/mpeg"];
                    var suporttype = "";
                    for (var i in types) {
                        if (MediaRecorder.isTypeSupported(types[i])) {
                            suporttype = types[i];
                        }
                    }
                    if (!suporttype) {
                        mui.toast("编码不支持")
                        return;
                    }

                    this.duration = new Date().getTime();
                    //video 摄像头   ，audio 音频
                    navigator.mediaDevices.getUserMedia({ audio: true, video: false })
                        .then(function (stream) {
                            this.showprocess = true
                            this.recorder = new MediaRecorder(stream);
                            audioTarget.srcObject = stream;
                            //是否可用
                            this.recorder.ondataavailable = (event) => {
                                console.log("ondataavailable");
                                uploadblob("attach/upload", event.data, ".mp3", res => {
                                    var duration = Math.ceil((new Date().getTime() - this.duration) / 1000);
                                    this.sendaudiomsg(res.Data, duration);
                                })
                                stream.getTracks().forEach(function (track) {
                                    track.stop();
                                });
                                this.showprocess = false
                            }
                            this.recorder.start();
                        }.bind(this)).
                        catch(function (err) {
                            console.log(err)
                            mui.toast(err)
                            this.showprocess = false
                        }.bind(this));
                },
                stoprecorder: function () {
                    if (typeof this.recorder.stop == "function") {
                        this.recorder.stop();
                    }
                    this.showprocess = false
                    console.log("stoprecorder")

                },
                dispatchplugin: function (item) {
                    switch (item.id) {
                        case "upload":
                        case "camera":

                            break;
                        default:
                            mui.toast("系统暂不支持,待扩展...")
                    }
                },
                reset: function () {
                    this.panelstat = "kbord";
                    this.txtstat = "kbord";
                    this.txtmsg = "";
                },
                createmsgcontext: function () {
                    return JSON.parse(JSON.stringify(this.msgcontext))
                },
                loaddoutures: function () {
                    var res = [];
                    var config = this.doutu.config;
                    for (var i in config.pkgids) {
                        res[config.pkgids[i]] = (config.baseurl + "/" + config.pkgids[i] + "/info.json")
                    }
                    var that = this;
                    for (var id in res) {
                        this.$http.get(res[id]).then(response => {
                            pkginfo = response.data
                            var baseurl = config.baseurl + "/" + pkginfo.id + "/"
                            // console.log("post res[i]",id,res[id],pkginfo)
                            for (var j in pkginfo.assets) {
                                pkginfo.assets[j] = baseurl + pkginfo.assets[j];
                            }
                            pkginfo.icon = baseurl + pkginfo.icon;
                            that.doutu.packages.push(pkginfo)
                            if (that.doutu.choosed.pkgid == pkginfo.id) {
                                that.doutu.choosed.assets = pkginfo.assets;
                            }

                        })
                    }
                },
                showweixin: function () {
                    mui.alert("请加微信号msb-shenzhuan索取")
                },
                showmsg: function (user, msg, isReverse, isFirst) {
                    //console.log(">>>>>>>>>>>", user)
                    // console.log(">>>>>>>>>>>", msg)
                    var data = {
                    }
                    // 修正判断逻辑：检查UserId字段，兼容userId字段
                    data.ismine = userId() == (msg.UserId || msg.userId);
                    console.log("消息归属判断:", {
                        currentUserId: userId(),
                        msgUserId: msg.UserId,
                        msgUserIdLower: msg.userId,
                        ismine: data.ismine
                    });
                    data.user = user;
                    data.msg = msg;
                    console.log(this.msglist)
                    if (isReverse) {
                        this.msglist = [data].concat(this.msglist);
                    } else {
                        //首次获取消息渲染
                        if (isFirst) {
                            this.msglist = [data].concat(this.msglist);
                            //下拉获取消息渲染
                        } else {
                            this.msglist = this.msglist.concat(data)
                        }
                    }
                    this.reset();
                    var that = this;
                    that.timer = setTimeout(function () {
                        window.scrollTo(0, document.getElementById("convo").offsetHeight);
                        if (!isReverse) {
                            let scroll = document.querySelector("#convo .mui-scroll-wrapper").offsetHeight;
                            let inner = document.querySelector("#convo .mui-scroll").offsetHeight;
                            let y = scroll - inner - 80;
                            let transform = document.querySelector("#convo .mui-scroll").style.transform;
                            document.querySelector("#convo .mui-scroll").style.transform = 'translateY(' + y + 'px)';
                        } else {
                            document.querySelector("#convo .mui-scroll").style.transform = 'translateY(' + 0 + 'px)';
                        }



                        clearTimeout(that.timer)
                    }, 100)
                },
                startrecord: function () {

                },
                //跟谁单聊
                sendtxtmsg: function (txt) {
                    if (this.isDisable) {
                        this.setTimeFlag()
                        //{id:1,userid:2,dstid:3,cmd:10,media:1,content:"hello"}
                        var msg = this.createmsgcontext();
                        msg.Media = 1;
                        msg.Content = txt;
                        if (msg.Type == 1) {
                            this.showmsg(userInfo(), msg);
                        }

                        this.webSocket.send(JSON.stringify(msg))
                    }
                },
                sendpicmsg: function (picurl) {
                    if (this.isDisable) {
                        this.setTimeFlag()
                        //{id:1,userid:2,dstid:3,cmd:10,media:4,url:"http://www.baidu.com/a/log,jpg"}
                        var msg = this.createmsgcontext();
                        msg.Media = 4;
                        msg.url = picurl;
                        if (msg.Type == 1) {
                            this.showmsg(userInfo(), msg);
                        }
                        this.webSocket.send(JSON.stringify(msg))
                    }
                },
                sendaudiomsg: function (url, num) {
                    if (this.isDisable) {
                        this.setTimeFlag()
                        //{id:1,userid:2,dstid:3,cmd:10,media:3,url:"http://www.a,com/dsturl.mp3",anount:40}
                        var msg = this.createmsgcontext();
                        msg.Media = 3;
                        msg.url = url;
                        msg.amount = num;
                        if (msg.Type == 1) {
                            this.showmsg(userInfo(), msg);
                        }
                        //console.log("sendaudiomsg",this.msglist);
                        this.webSocket.send(JSON.stringify(msg))
                    }
                },
                scrollConcat() {
                    console.log(123)
                },
                closePanel() {
                    this.panelstat = 'kbord';
                },
                singlemsg: function (user) {
                    this.start = 0;
                    this.end = 9;
                    if (this.isDisable) {
                        //首次读取某个用户的消息记录
                        if (this.isReadRedisMsg.filter(item => item === user.ID).length <= 0) {
                            post("user/redisMsg", { userIdA: userId(), userIdB: user.ID, start: this.start, end: this.end, isRev: false }, function (res) {
                                //循环读取的消息记录 并显示
                                for (var i in res.Total) {
                                    this.showmsg(user, JSON.parse(res.Total[i]), false, true)
                                }
                            }.bind(this))
                            this.isReadRedisMsg.push(user.ID)
                        }

                        this.setTimeFlag()
                        //console.log(user)
                        this.win = "single";
                        this.title = "和" + user.Name + "聊天中";
                        this.otherAvatar = user.Avatar;
                        this.msgcontext.TargetId = parseInt(user.ID);
                        this.msgcontext.Type = 1;
                        mui('.mui-scroll-wrapper').scroll({
                            scrollY: true, //是否竖向滚动
                            scrollX: false, //是否横向滚动
                            startX: 0, //初始化时滚动至x
                            startY: 0, //初始化时滚动至y
                            indicators: true, //是否显示滚动条
                            deceleration: 0.0006, //阻尼系数,系数越小滑动越灵敏
                            bounce: true //是否启用回弹
                        });
                        //下拉获取历史消息记录
                        document.querySelector('.mui-scroll-wrapper').addEventListener('scroll', (e) => {
                            let translate = e.target.style?.transform?.match(/translate3d\(\d+px,\s*(\d+)px,\s*(\d+)px\)/i);
                            if (translate && translate.length > 1) {
                                if (translate[1] > 0 && this.isLoadMore == false) {
                                    this.isLoadMore = true;
                                    this.start = this.end + 1;
                                    this.end = this.end + 2;
                                    post("user/redisMsg", { userIdA: userId(), userIdB: user.ID, start: this.start, end: this.end, isRev: false }, function (res) {
                                        //循环读取的消息记录 并显示
                                        for (var i in res.Total) {
                                            this.showmsg(user, JSON.parse(res.Total[i]), true)
                                        }
                                        setTimeout(() => {
                                            this.isLoadMore = false;
                                        }, 300);
                                    }.bind(this))
                                    this.isReadRedisMsg.push(user.ID)
                                }
                            }
                        })
                    }
                },
                //群聊的初始化
                groupmsg: function (group) {
                    this.start = 0;
                    this.end = 9;
                    if (this.isDisable) {
                        // 首次读取群聊消息记录
                        const groupKey = 'group_' + group.ID;
                        if (this.isReadRedisMsg.filter(item => item === groupKey).length <= 0) {
                            post("user/redisGroupMsg", { 
                                groupId: group.ID, 
                                start: this.start, 
                                end: this.end, 
                                isRev: false 
                            }, function (res) {
                                // 循环读取群聊消息记录并显示
                                for (var i in res.Total) {
                                    try {
                                        const msgData = JSON.parse(res.Total[i]);
                                        // 获取发送者信息 - 兼容UserId和userId字段
                                        var senderId = msgData.UserId || msgData.userId;
                                        this.loaduserinfo(senderId, function(user) {
                                            this.showmsg(user, msgData, false, true);
                                        }.bind(this));
                                    } catch (e) {
                                        console.error('解析群聊消息失败:', e);
                                    }
                                }
                            }.bind(this))
                            this.isReadRedisMsg.push(groupKey);
                        }

                        this.setTimeFlag()
                        this.win = "group";
                        this.title = group.Name;
                        this.msgcontext.TargetId = parseInt(group.ID);
                        this.msgcontext.Type = 2;
                        
                        // 初始化群聊滚动
                        this.$nextTick(() => {
                            mui('.mui-scroll-wrapper').scroll({
                                scrollY: true,
                                scrollX: false,
                                startX: 0,
                                startY: 0,
                                indicators: true,
                                deceleration: 0.0006,
                                bounce: true
                            });
                        });
                    }
                },
                loaduserinfo: function (userid, cb) {
                    userid = "" + userid;
                    console.log(">>>> " + userid)
                    var userinfo = this.usermap[userid];
                    if (!userinfo) {
                        post("user/find", { userId: parseInt(userid) }, function (res) {
                            cb(res.Data);
                            this.usermap[userid] = res.Data;
                        }.bind(this))
                    } else {
                        cb(userinfo)
                    }
                },
                onmessage: function (data) {
                    // 兼容UserId和userId字段
                    var senderId = data.UserId || data.userId;
                    this.loaduserinfo(senderId, function (user) {

                        this.showmsg(user, data)
                        this.friends.map((item) => {
                            if (item.ID == senderId) {
                                // 1文字 2表情包 3图片 4音频
                                if (data.Media === 1) {
                                    item.memo = data.Content
                                } else if (data.Media === 2) {
                                    item.memo = data.Url
                                } else if (data.Media === 3) {
                                    item.memo = "[语音]"
                                } else if (data.Media === 4) {
                                    item.memo = "[图片]"
                                }
                            }
                        })

                    }.bind(this))

                },
                initwebsocket: function () {
                    // 从localStorage获取token，更安全可靠
                    var token = localStorage.getItem('token') || util.parseQuery("token");
                    var url = "ws://" + location.host + "/chat?userId=" + userId() + "&token=" + token;
                    console.log("WebSocket连接URL:", url.replace(token, "***token***")); // 隐藏token打印
                    this.webSocket = new WebSocket(url);
                    //消息处理
                    this.webSocket.onmessage = function (evt) {
                        console.log("onmessage", evt.data)
                        if (evt.data.indexOf("}") > -1) {
                            console.log("recv json <==" + evt.data)
                            this.onmessage(JSON.parse(evt.data));
                        } else {
                            console.log("recv<==" + evt.data)
                        }
                    }.bind(this)
                    //关闭回调
                    this.webSocket.onclose = function (evt) {
                        console.log("您已自动下线") //code 1006
                    }
                    //出错回调
                    this.webSocket.onerror = function (evt) {
                        console.log(evt.data)
                    }
                    /*{
                        this.webSocket.send()
                    }*/
                },
                sendmsg: function () {

                },
                loadfriends: function () {
                    var that = this;
                    post("searchFriends", { userId: userId() }, function (res) {
                        that.friends = res.Rows || [];
                        var usermap = this.usermap;
                        for (var i in res.Rows) {
                            var k = "" + res.Rows[i].ID
                            usermap[k] = res.Rows[i];
                        }
                        this.usermap = usermap;
                    }.bind(this))
                },
                loadcommunitys: function () {
                    var that = this;
                    post("contact/loadcommunity", { ownerId: userId() }, function (res) {
                        that.communitys = res.Rows || [];
                    })
                },
                addfriend: function () {
                    //console.log("addfriend....")
                    var that = this;
                    mui.prompt('', '请输入好友名称', '加好友', ['取消', '确认'], function (e) {
                        if (e.index == 1) {
                            //判断数字
                            //if (isNaN(e.value) || e.value <= 0) {
                            //    mui.toast('格式错误');
                            //} else {
                            //mui.toast(e.value);
                            that._addfriend(e.value)
                            //}
                        } else {
                            //mui.toast('您取消了入库');
                        }
                    }, 'div');
                    document.querySelector('.mui-popup-input input').type = 'text';

                },
                _addfriend: function (dstobj) {
                    //防止一次点击 穿透访问多次
                    if (this.isDisable) {
                        this.setTimeFlag()
                        //console.log("_addfriend....")
                        var that = this
                        post("contact/addfriend", { targetName: dstobj, userId: userId() }, function (res) {
                            if (res.Code == 0) {
                                mui.toast("添加成功");
                                that.loadfriends();
                            } else {
                                mui.toast(res.Msg);
                            }
                        })
                    }
                },
                //个人资料修改显示
                setUserInfo: function () {
                    this.win = "userinfo"
                    //  console.log("createCom")
                },
                //新建群显示
                createCom: function () {
                    this.win = "community"
                    //  console.log("createCom")
                },

                //新建群提交
                createcommunity() {
                    //console.log("createcommunity")
                    this.com.ownerId = userId()
                    console.log(this.com)
                    util.post("/contact/createCommunity", this.com).then(res => {
                        console.log(res)
                        if (res.Code != 0) {
                            mui.toast(res.Msg)
                        } else {
                            //location.replace("localhost:8081")
                            //location.href = "/"
                            mui.toast("建群成功")
                            this.loadcommunitys();
                            //goBack()
                        }
                    })
                },
                updateUserInfo() {
                    //console.log("createcommunity")
                    this.info.id = userId()
                    util.post("/user/updateUser", this.info).then(res => {
                        console.log(res)
                        let userInfo = JSON.parse(sessionStorage.getItem('userinfo') || '{}');
                        userInfo.Avatar = this.info.icon;
                        userInfo.Name = this.info.name;
                        sessionStorage.setItem('userinfo', JSON.stringify(userInfo))
                        if (res.Code != 0) {
                            mui.toast(res.message)
                        } else {
                            //location.replace("localhost:8081")
                            //location.href = "/"
                            mui.toast("修改成功")
                            //goBack()
                        }
                    })
                },



                //回到聊天首页
                goBack() {
                    this.win = "main"
                },

                _joincomunity: function (dstobj) {
                    if (this.isDisable) {
                        this.setTimeFlag();
                        var that = this;
                        console.log(that);
                        post("contact/joinGroup", { comId: dstobj, "userId": userId() }, function (res) {
                            if (res.Code == 0) {
                                mui.toast("添加成功");

                                that.loadcommunitys();
                            } else {
                                mui.toast(res.Msg);
                            }
                        })
                    }
                },
                joincom: function () {
                    var that = this;
                    mui.prompt('', '请输入群号或者群名称', '加群', ['取消', '确认'], function (e) {
                        if (e.index == 1) {
                            //    if (isNaN(e.value) || e.value <= 0) {
                            //       mui.toast('格式错误');
                            //   } else {
                            //mui.toast(e.value);
                            that._joincomunity(e.value)
                            // }
                        } else {
                            //mui.toast('您取消了入库');
                        }
                    }, 'div');
                    document.querySelector('.mui-popup-input input').type = 'text';
                },
                quit: function () {
                    sessionStorage.removeItem("userid")
                    sessionStorage.removeItem("userinfo")
                    location.href = "/"
                },
                setTimeFlag() {
                    this.isDisable = false;
                    setTimeout(() => {
                        this.isDisable = true;
                    }, 100)
                },
                heartbeat() {
                    if (this.webSocket.readyState == 1) {  //失去连接 3
                        var msg = this.createmsgcontext();
                        msg.Media = -1;
                        msg.Type = 3
                        msg.Content = "心跳";
                        //this.showmsg(userInfo(),msg);
                        this.webSocket.send(JSON.stringify(msg))
                    }
                },
                
                // AI聊天相关方法
                startAiChat() {
                    this.start = 0;
                    this.end = 9;
                    this.win = "ai-chat";
                    this.title = "AI助手";
                    
                    if (this.isDisable) {
                        // 首次读取AI聊天历史记录
                        const aiKey = 'ai_' + userId();
                        if (this.isReadRedisMsg.filter(item => item === aiKey).length <= 0) {
                            post("user/redisAIMsg", { 
                                userId: userId(), 
                                start: this.start, 
                                end: this.end, 
                                isRev: false 
                            }, function (res) {
                                // 循环读取AI对话记录并显示
                                for (var i in res.Total) {
                                    try {
                                        const recordData = JSON.parse(res.Total[i]);
                                        // 添加用户消息
                                        this.aiMessages.push({
                                            content: recordData.user_message,
                                            isUser: true,
                                            time: this.formatTime(new Date(recordData.timestamp))
                                        });
                                        // 添加AI回复
                                        this.aiMessages.push({
                                            content: recordData.ai_reply,
                                            isUser: false,
                                            time: this.formatTime(new Date(recordData.timestamp))
                                        });
                                    } catch (e) {
                                        console.error('解析AI对话历史失败:', e);
                                    }
                                }
                                
                                // 滚动到底部
                                this.$nextTick(() => {
                                    this.scrollToBottom();
                                });
                            }.bind(this))
                            this.isReadRedisMsg.push(aiKey);
                        }
                        
                        // 如果是第一次使用且没有历史记录，显示欢迎消息
                        if (this.aiMessages.length === 0) {
                            this.aiMessages.push({
                                content: "你好！我是AI助手，很高兴为您服务。有什么我可以帮助您的吗？",
                                isUser: false,
                                time: this.formatTime(new Date())
                            });
                        }
                    }
                    
                    // 初始化滚动
                    this.$nextTick(() => {
                        this.initAiScrolling();
                        
                        // 为AI聊天添加下拉加载更多历史记录
                        mui('#ai-convo').scroll({
                            scrollY: true,
                            scrollX: false,
                            startX: 0,
                            startY: 0,
                            indicators: false,
                            deceleration: 0.0006,
                            bounce: true
                        });
                        
                        // 下拉获取更多AI历史消息记录
                        document.querySelector('#ai-convo .mui-scroll-wrapper').addEventListener('scroll', (e) => {
                            let translate = e.target.style?.transform?.match(/translate3d\(\d+px,\s*(\d+)px,\s*(\d+)px\)/i);
                            if (translate && translate.length > 1) {
                                if (translate[1] > 0 && this.isLoadMore == false) {
                                    this.isLoadMore = true;
                                    this.start = this.end + 1;
                                    this.end = this.end + 2;
                                    
                                    post("user/redisAIMsg", { 
                                        userId: userId(), 
                                        start: this.start, 
                                        end: this.end, 
                                        isRev: false 
                                    }, function (res) {
                                        // 循环读取更多AI对话记录
                                        for (var i in res.Total) {
                                            try {
                                                const recordData = JSON.parse(res.Total[i]);
                                                // 在开头插入历史消息
                                                this.aiMessages.unshift({
                                                    content: recordData.ai_reply,
                                                    isUser: false,
                                                    time: this.formatTime(new Date(recordData.timestamp))
                                                });
                                                this.aiMessages.unshift({
                                                    content: recordData.user_message,
                                                    isUser: true,
                                                    time: this.formatTime(new Date(recordData.timestamp))
                                                });
                                            } catch (e) {
                                                console.error('解析AI对话历史失败:', e);
                                            }
                                        }
                                        setTimeout(() => {
                                            this.isLoadMore = false;
                                        }, 300);
                                    }.bind(this))
                                }
                            }
                        })
                        
                        this.scrollToBottom();
                    });
                },
                
                initAiScrolling() {
                    // 滚动初始化已经在startAiChat中完成，这里只保留兼容性
                    if (mui && document.querySelector('#ai-convo')) {
                        mui('#ai-convo').scroll({
                            scrollY: true,
                            scrollX: false,
                            startX: 0,
                            startY: 0,
                            indicators: false,
                            deceleration: 0.0006,
                            bounce: true
                        });
                    }
                },
                
                sendAiMessage() {
                    if (!this.aiInputText.trim()) return;
                    
                    const userMessage = {
                        content: this.aiInputText,
                        isUser: true,
                        time: this.formatTime(new Date())
                    };
                    
                    this.aiMessages.push(userMessage);
                    const question = this.aiInputText;
                    this.aiInputText = '';
                    
                    // 显示AI思考状态
                    this.aiThinking = true;
                    
                    // 调用AI API
                    this.callAiApi(question);
                    
                    // 滚动到底部
                    this.$nextTick(() => {
                        this.scrollToBottom();
                    });
                },
                
                sendQuickQuestion(question) {
                    this.aiInputText = question;
                    this.sendAiMessage();
                },
                
                async callAiApi(question) {
                    try {
                        // 获取token
                        const token = localStorage.getItem('token');
                        const headers = {
                            'Content-Type': 'application/json'
                        };
                        
                        // 添加Authorization头
                        if (token) {
                            headers['Authorization'] = 'Bearer ' + token;
                            console.log('AI API请求已添加Authorization头');
                        } else {
                            console.warn('警告: 没有token，AI API请求可能失败');
                        }
                        
                        // 调用真实的AI API
                        const response = await fetch('/api/ai/chat', {
                            method: 'POST',
                            headers: headers,
                            body: JSON.stringify({
                                message: question,
                                userId: this.info.id || 0
                            })
                        });
                        
                        this.aiThinking = false;
                        
                        if (response.ok) {
                            const data = await response.json();
                            const aiMessage = {
                                content: data.reply,
                                isUser: false,
                                time: this.formatTime(new Date())
                            };
                            this.aiMessages.push(aiMessage);
                        } else {
                            throw new Error('AI服务请求失败');
                        }
                        
                        this.$nextTick(() => {
                            this.scrollToBottom();
                        });
                    } catch (error) {
                        this.aiThinking = false;
                        console.error('AI API调用失败:', error);
                        
                        // 如果API调用失败，使用本地模拟回复
                        const response = await this.simulateAiResponse(question);
                        const aiMessage = {
                            content: response,
                            isUser: false,
                            time: this.formatTime(new Date())
                        };
                        this.aiMessages.push(aiMessage);
                        
                        this.$nextTick(() => {
                            this.scrollToBottom();
                        });
                    }
                },
                
                async simulateAiResponse(question) {
                    // 模拟AI响应延迟
                    await new Promise(resolve => setTimeout(resolve, 1000 + Math.random() * 2000));
                    
                    // 基于问题返回不同的回答
                    const responses = {
                        '你好': '你好！我是AI助手，很高兴为您服务。有什么我可以帮助您的吗？',
                        '功能': '这个聊天室支持私聊、群聊、发送图片、语音消息、表情包等功能。您还可以创建群组、添加好友等。',
                        '群聊': '创建群聊很简单：1. 点击底部的"群聊"选项卡 2. 点击创建群按钮 3. 设置群名称和描述 4. 邀请好友加入',
                        '好友': '添加好友的方法：1. 点击联系人列表 2. 点击添加好友按钮 3. 输入对方的用户名或ID 4. 发送好友请求',
                        '消息类型': '系统支持多种消息类型：文字消息、图片、语音、表情包、文件传输等。'
                    };
                    
                    // 寻找匹配的关键词
                    for (const [keyword, response] of Object.entries(responses)) {
                        if (question.includes(keyword)) {
                            return response;
                        }
                    }
                    
                    // 默认回复
                    const defaultResponses = [
                        '这是一个很有趣的问题！让我想想...',
                        '关于这个问题，我建议您可以尝试探索一下聊天室的各项功能。',
                        '感谢您的提问！如果您需要帮助，可以随时问我关于聊天室功能的问题。',
                        '我理解您的问题。您可以尝试使用聊天室的不同功能来获得更好的体验。'
                    ];
                    
                    return defaultResponses[Math.floor(Math.random() * defaultResponses.length)];
                },
                
                formatTime(date) {
                    const hours = date.getHours().toString().padStart(2, '0');
                    const minutes = date.getMinutes().toString().padStart(2, '0');
                    return `${hours}:${minutes}`;
                },
                
                scrollToBottom() {
                    // 使用 setTimeout 确保 DOM 已经更新
                    setTimeout(() => {
                        const aiConvo = document.querySelector('#ai-convo');
                        const scrollWrapper = document.querySelector('#ai-convo .mui-scroll-wrapper');
                        const scroll = document.querySelector('#ai-convo .mui-scroll');
                        
                        if (scroll && scrollWrapper) {
                            // 计算滚动位置
                            const scrollHeight = scroll.scrollHeight;
                            const wrapperHeight = scrollWrapper.offsetHeight;
                            const scrollTop = scrollHeight - wrapperHeight;
                            
                            // 设置滚动位置
                            scroll.scrollTop = scrollTop;
                            
                            // 如果使用了 mui 的 transform，也更新 transform
                            if (scroll.style.transform) {
                                scroll.style.transform = `translateY(-${Math.max(0, scrollTop)}px)`;
                            }
                        }
                        
                        // 备用方案：直接滚动到底部
                        const chatThread = document.querySelector('.ai-chat-thread');
                        if (chatThread) {
                            chatThread.scrollIntoView({ behavior: 'smooth', block: 'end' });
                        }
                    }, 100);
                },
                initGlobalScrolling() {
                    // 为所有聊天界面启用滚轮滚动
                    const scrollContainers = [
                        '#convo',          // 好友聊天
                        '#ai-convo',       // AI聊天
                        '.mui-content',    // 主要内容区域
                        '.mui-scroll-wrapper' // mui滚动容器
                    ];

                    scrollContainers.forEach(selector => {
                        const container = document.querySelector(selector);
                        if (container) {
                            // 启用原生滚动
                            container.style.overflowY = 'auto';
                            container.style.webkitOverflowScrolling = 'touch';
                            
                            // 添加滚轮事件监听
                            container.addEventListener('wheel', (e) => {
                                e.preventDefault();
                                container.scrollTop += e.deltaY;
                            }, { passive: false });
                        }
                    });

                    // 为所有页面添加通用滚动支持
                    document.addEventListener('wheel', (e) => {
                        // 如果事件已被处理，则跳过
                        if (e.defaultPrevented) return;

                        // 获取当前活动的滚动容器
                        const activeScrollContainer = this.getActiveScrollContainer();
                        if (activeScrollContainer) {
                            e.preventDefault();
                            activeScrollContainer.scrollTop += e.deltaY * 0.5; // 减慢滚动速度
                        }
                    }, { passive: false });
                },
                getActiveScrollContainer() {
                    // 根据当前窗口状态返回活动的滚动容器
                    if (this.win === 'single') {
                        return document.querySelector('#convo .mui-scroll');
                    } else if (this.win === 'ai-chat') {
                        return document.querySelector('#ai-convo .mui-scroll');
                    } else if (this.win === 'group') {
                        return document.querySelector('#convo .mui-scroll');
                    }
                    return document.querySelector('.mui-content');
                },
                initKeyboardEvents() {
                    // 全局键盘事件处理
                    document.addEventListener('keydown', (e) => {
                        // 回车键发送消息
                        if (e.key === 'Enter' && !e.shiftKey && !e.ctrlKey && !e.altKey) {
                            const activeInput = document.activeElement;
                            
                            // 检查是否在聊天输入框中
                            if (activeInput && (
                                activeInput.classList.contains('text') || 
                                activeInput.id === 'ai-input' ||
                                (activeInput.tagName === 'INPUT' && activeInput.type === 'text')
                            )) {
                                e.preventDefault();
                                
                                // 根据当前界面发送消息
                                if (this.win === 'ai-chat') {
                                    this.sendAiMessage();
                                } else if (this.win === 'single' || this.win === 'group') {
                                    this.sendtxtmsg(this.txtmsg);
                                }
                            }
                        }
                        
                        // Escape键返回主界面
                        else if (e.key === 'Escape') {
                            if (this.win !== 'main') {
                                this.win = 'main';
                            }
                        }
                        
                        // Ctrl+Enter换行（如果需要）
                        else if (e.key === 'Enter' && e.ctrlKey) {
                            // 允许换行，不做处理
                        }
                    });

                    // 为输入框添加特殊的回车处理
                    this.$nextTick(() => {
                        // 普通聊天输入框
                        const chatInput = document.querySelector('.flex-container input.text');
                        if (chatInput) {
                            chatInput.addEventListener('keyup', (e) => {
                                if (e.key === 'Enter') {
                                    this.sendtxtmsg(this.txtmsg);
                                }
                            });
                        }

                        // AI聊天输入框
                        const aiInput = document.querySelector('.ai-input-item input');
                        if (aiInput) {
                            aiInput.addEventListener('keyup', (e) => {
                                if (e.key === 'Enter') {
                                    this.sendAiMessage();
                                }
                            });
                        }
                    });
                }
            },
            watch: {
                "win": function (n, o) {
                    // console.log("watch",o,n)
                    if (n != "main") {
                        document.getElementById("menubar").style.display = "none";
                    } else {
                        document.getElementById("menubar").style.display = "block";
                    }
                }
            }
        }
    )

</script>
{{end}}